<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [7]:
femaleCount = data[data['sex'] == 'Female']['sex'].count()
maleCount= data[data['sex'] == 'Male']['sex'].count()
print("Male:", maleCount,"\n" "Female:", femaleCount)

Male: 21790
Female: 10771

**2. Каков средний возраст (признак *age*) женщин?**

In [9]:
femaleAge = data[data['sex'] == 'Female']['age'].mean()
k = round(femaleAge, 0)
print("Female age:", k)

Female age: 37.0

**3. Какова доля граждан Германии (признак *native-country*)?**

In [10]:
partOfPeople = data[data['native-country'] == 'Germany']['native-country'].count() * 100 / data['native-country'].count()
k = round(partOfPeople,2)
print("Part of Germany's people:", k)

Part of Germany's people: 0.42

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [47]:
meanRich = round(data[data['salary'] == '>50K']['age'].mean(),2)
meanPoor = round(data[data['salary'] == '<=50K']['age'].mean(),2)
stdRich = round(data[data['salary'] == '>50K']['age'].std(),2)
stdPoor = round(data[data['salary'] == '<=50K']['age'].std(),2)
print("\tMean age of \nRich:", meanRich,"\nPoor:", meanPoor)
print("\tStd age of \nRich:", stdRich,"\nPoor:", stdPoor)

	Mean age of
Rich: 44.25
Poor: 36.78
	Std age of
Rich: 10.52
Poor: 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [5]:
pd.crosstab(data['education'], data['salary'])

salary        <=50K  >50K
education
10th            871    62
11th           1115    60
12th            400    33
1st-4th         162     6
5th-6th         317    16
7th-8th         606    40
9th             487    27
Assoc-acdm      802   265
Assoc-voc      1021   361
Bachelors      3134  2221
Doctorate       107   306
HS-grad        8826  1675
Masters         764   959
Preschool        51     0
Prof-school     153   423
Some-college   5904  1387

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [23]:
data.groupby(['race','sex'])[['age']].describe()

                                          age
race               sex
Amer-Indian-Eskimo Female count    119.000000
                          mean      37.117647
                          std       13.114991
                          min       17.000000
                          25%       27.000000
                          50%       36.000000
                          75%       46.000000
                          max       80.000000
                   Male   count    192.000000
                          mean      37.208333
                          std       12.049563
                          min       17.000000
                          25%       28.000000
                          50%       35.000000
                          75%       45.000000
                          max       82.000000
Asian-Pac-Islander Female count    346.000000
                          mean      35.089595
                          std       12.300845
                          min       17.000000
                          25%       25.000000
                          50%       33.000000
                          75%       43.750000
                          max       75.000000
                   Male   count    693.000000
                          mean      39.073593
                          std       12.883944
                          min       18.000000
                          25%       29.000000
                          50%       37.000000
...                                       ...
Other              Female std       11.631599
                          min       17.000000
                          25%       23.000000
                          50%       29.000000
                          75%       39.000000
                          max       74.000000
                   Male   count    162.000000
                          mean      34.654321
                          std       11.355531
                          min       17.000000
                          25%       26.000000
                          50%       32.000000
                          75%       42.000000
                          max       77.000000
White              Female count   8642.000000
                          mean      36.811618
                          std       14.329093
                          min       17.000000
                          25%       25.000000
                          50%       35.000000
                          75%       46.000000
                          max       90.000000
                   Male   count  19174.000000
                          mean      39.652498
                          std       13.436029
                          min       17.000000
                          25%       29.000000
                          50%       38.000000
                          75%       49.000000
                          max       90.000000

[80 rows x 1 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [37]:
# data[data['salary'] == '>50K']['sex'].count()
richMar = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.find('Married') >= 0)]['sex'].count()
richUnmar = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.find('Married') < 0)]['sex'].count()
countMar = data[(data['sex'] == 'Male') & (data['marital-status'].str.find('Married') >= 0)]['sex'].count()
countUnmar = data[(data['sex'] == 'Male') & (data['marital-status'].str.find('Married') < 0)]['sex'].count()
percentMar = round(richMar/countMar*100,2)
percentUnmar = round(richUnmar/countUnmar*100,2)
print("mar >50K:",richMar,"\nunmar >50K:",richUnmar,"\ncount of married: ",countMar,"\ncount of unmarried: ",countUnmar,"\n% of married:", percentMar,"\n% of unmarried:", percentUnmar)

mar >50K: 5965
unmar >50K: 697
count of married:  13541
count of unmarried:  8249
% of married: 44.05
% of unmarried: 8.45

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [72]:
maxHours = data['hours-per-week'].max()
countOfPeople = data[data['hours-per-week'] == maxHours]['sex'].count()
percentOfPeople = data[(data['hours-per-week'] == maxHours) & (data['salary'] == '>50K')]['sex'].count()*100/countOfPeople
percentOfPeople = round(percentOfPeople,2)
print("max hors per week:",maxHours,
      "\ncount of person working max hours:", countOfPeople, 
      "\npercent of rich people:", percentOfPeople)

max hors per week: 99
count of person working max hours: 85
percent of rich people: 29.41

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [45]:
round(data.groupby(['native-country','salary'])['hours-per-week'].mean().reset_index(),2)

                native-country salary  hours-per-week
0                            ?  <=50K           40.16
1                            ?   >50K           45.55
2                     Cambodia  <=50K           41.42
3                     Cambodia   >50K           40.00
4                       Canada  <=50K           37.91
5                       Canada   >50K           45.64
6                        China  <=50K           37.38
7                        China   >50K           38.90
8                     Columbia  <=50K           38.68
9                     Columbia   >50K           50.00
10                        Cuba  <=50K           37.99
11                        Cuba   >50K           42.44
12          Dominican-Republic  <=50K           42.34
13          Dominican-Republic   >50K           47.00
14                     Ecuador  <=50K           38.04
15                     Ecuador   >50K           48.75
16                 El-Salvador  <=50K           36.03
17                 El-Salvador   >50K           45.00
18                     England  <=50K           40.48
19                     England   >50K           44.53
20                      France  <=50K           41.06
21                      France   >50K           50.75
22                     Germany  <=50K           39.14
23                     Germany   >50K           44.98
24                      Greece  <=50K           41.81
25                      Greece   >50K           50.62
26                   Guatemala  <=50K           39.36
27                   Guatemala   >50K           36.67
28                       Haiti  <=50K           36.33
29                       Haiti   >50K           42.75
30          Holand-Netherlands  <=50K           40.00
31                    Honduras  <=50K           34.33
32                    Honduras   >50K           60.00
33                        Hong  <=50K           39.14
34                        Hong   >50K           45.00
35                     Hungary  <=50K           31.30
36                     Hungary   >50K           50.00
37                       India  <=50K           38.23
38                       India   >50K           46.48
39                        Iran  <=50K           41.44
40                        Iran   >50K           47.50
41                     Ireland  <=50K           40.95
42                     Ireland   >50K           48.00
43                       Italy  <=50K           39.62
44                       Italy   >50K           45.40
45                     Jamaica  <=50K           38.24
46                     Jamaica   >50K           41.10
47                       Japan  <=50K           41.00
48                       Japan   >50K           47.96
49                        Laos  <=50K           40.38
50                        Laos   >50K           40.00
51                      Mexico  <=50K           40.00
52                      Mexico   >50K           46.58
53                   Nicaragua  <=50K           36.09
54                   Nicaragua   >50K           37.50
55  Outlying-US(Guam-USVI-etc)  <=50K           41.86
56                        Peru  <=50K           35.07
57                        Peru   >50K           40.00
58                 Philippines  <=50K           38.07
59                 Philippines   >50K           43.03
60                      Poland  <=50K           38.17
61                      Poland   >50K           39.00
62                    Portugal  <=50K           41.94
63                    Portugal   >50K           41.50
64                 Puerto-Rico  <=50K           38.47
65                 Puerto-Rico   >50K           39.42
66                    Scotland  <=50K           39.44
67                    Scotland   >50K           46.67
68                       South  <=50K           40.16
69                       South   >50K           51.44
70                      Taiwan  <=50K           33.77
71                      Taiwan   >50K           46.80
72                    Thailand  <=50K           42.87
73                    Thailand   >50K           58.33
74             Trinadad&Tobago  <=50K           37.06
75             Trinadad&Tobago   >50K           40.00
76               United-States  <=50K           38.80
77               United-States   >50K           45.51
78                     Vietnam  <=50K           37.19
79                     Vietnam   >50K           39.20
80                  Yugoslavia  <=50K           41.60
81                  Yugoslavia   >50K           49.50