<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
data = pd.read_csv('../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [7]:
femaleCount = data[data['sex'] == 'Female']['sex'].count()
maleCount= data[data['sex'] == 'Male']['sex'].count()
print("Male:", maleCount,"\n" "Female:", femaleCount)

Male: 21790
Female: 10771

**2. Каков средний возраст (признак *age*) женщин?**

In [9]:
femaleAge = data[data['sex'] == 'Female']['age'].mean()
k = round(femaleAge, 0)
print("Female age:", k)

Female age: 37.0

**3. Какова доля граждан Германии (признак *native-country*)?**

In [10]:
partOfPeople = data[data['native-country'] == 'Germany']['native-country'].count() * 100 / data['native-country'].count()
k = round(partOfPeople,2)
print("Part of Germany's people:", k)

Part of Germany's people: 0.42

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [47]:
meanRich = round(data[data['salary'] == '>50K']['age'].mean(),2)
meanPoor = round(data[data['salary'] == '<=50K']['age'].mean(),2)
stdRich = round(data[data['salary'] == '>50K']['age'].std(),2)
stdPoor = round(data[data['salary'] == '<=50K']['age'].std(),2)
print("\tMean age of \nRich:", meanRich,"\nPoor:", meanPoor)
print("\tStd age of \nRich:", stdRich,"\nPoor:", stdPoor)

	Mean age of
Rich: 44.25
Poor: 36.78
	Std age of
Rich: 10.52
Poor: 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [80]:
data.groupby(['education'])['salary'].max()

education
10th             >50K
11th             >50K
12th             >50K
1st-4th          >50K
5th-6th          >50K
7th-8th          >50K
9th              >50K
Assoc-acdm       >50K
Assoc-voc        >50K
Bachelors        >50K
Doctorate        >50K
HS-grad          >50K
Masters          >50K
Preschool       <=50K
Prof-school      >50K
Some-college     >50K
Name: salary, dtype: object

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [71]:
d = data.groupby(['race','sex'])['age'].describe()
maxAge = data[data['race'] == 'Amer-Indian-Eskimo']['age'].max()
print("",d,"\nmax age of male Amer-indian-eskimo race:", maxAge)

 race                sex
Amer-Indian-Eskimo  Female  count      119.000000
                            mean        37.117647
                            std         13.114991
                            min         17.000000
                            25%         27.000000
                            50%         36.000000
                            75%         46.000000
                            max         80.000000
                    Male    count      192.000000
                            mean        37.208333
                            std         12.049563
                            min         17.000000
                            25%         28.000000
                            50%         35.000000
                            75%         45.000000
                            max         82.000000
Asian-Pac-Islander  Female  count      346.000000
                            mean        35.089595
                            std         12.300845
                            min         17.000000
                            25%         25.000000
                            50%         33.000000
                            75%         43.750000
                            max         75.000000
                    Male    count      693.000000
                            mean        39.073593
                            std         12.883944
                            min         18.000000
                            25%         29.000000
                            50%         37.000000
                                         ...
Other               Female  std         11.631599
                            min         17.000000
                            25%         23.000000
                            50%         29.000000
                            75%         39.000000
                            max         74.000000
                    Male    count      162.000000
                            mean        34.654321
                            std         11.355531
                            min         17.000000
                            25%         26.000000
                            50%         32.000000
                            75%         42.000000
                            max         77.000000
White               Female  count     8642.000000
                            mean        36.811618
                            std         14.329093
                            min         17.000000
                            25%         25.000000
                            50%         35.000000
                            75%         46.000000
                            max         90.000000
                    Male    count    19174.000000
                            mean        39.652498
                            std         13.436029
                            min         17.000000
                            25%         29.000000
                            50%         38.000000
                            75%         49.000000
                            max         90.000000
dtype: float64
max age of male Amer-indian-eskimo race: 82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
rich = data[data['salary'] == '>50K']['sex'].count()
mar = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.find('married') > 0)]['sex'].count()
unmar = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.find('married') < 0)]['sex'].count()
print("count of married: ", mar,"\ncount of unmarried: ", unmar)
if mar > unmar:
    print("count of married men more then unmarried!")
else:
    print("count of unmarried men more then married!")

count of married:  325
count of unmarried:  6337
count of unmarried men more then married!

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [72]:
maxHours = data['hours-per-week'].max()
countOfPeople = data[data['hours-per-week'] == maxHours]['sex'].count()
percentOfPeople = data[(data['hours-per-week'] == maxHours) & (data['salary'] == '>50K')]['sex'].count()*100/countOfPeople
percentOfPeople = round(percentOfPeople,2)
print("max hors per week:",maxHours,
      "\ncount of person working max hours:", countOfPeople, 
      "\npercent of rich people:", percentOfPeople)

max hors per week: 99
count of person working max hours: 85
percent of rich people: 29.41

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [89]:
round(data.groupby(['native-country','salary'])['hours-per-week'].mean(),2)

native-country              salary
?                           <=50K     40.16
                            >50K      45.55
Cambodia                    <=50K     41.42
                            >50K      40.00
Canada                      <=50K     37.91
                            >50K      45.64
China                       <=50K     37.38
                            >50K      38.90
Columbia                    <=50K     38.68
                            >50K      50.00
Cuba                        <=50K     37.99
                            >50K      42.44
Dominican-Republic          <=50K     42.34
                            >50K      47.00
Ecuador                     <=50K     38.04
                            >50K      48.75
El-Salvador                 <=50K     36.03
                            >50K      45.00
England                     <=50K     40.48
                            >50K      44.53
France                      <=50K     41.06
                            >50K      50.75
Germany                     <=50K     39.14
                            >50K      44.98
Greece                      <=50K     41.81
                            >50K      50.62
Guatemala                   <=50K     39.36
                            >50K      36.67
Haiti                       <=50K     36.33
                            >50K      42.75
                                      ...
Mexico                      >50K      46.58
Nicaragua                   <=50K     36.09
                            >50K      37.50
Outlying-US(Guam-USVI-etc)  <=50K     41.86
Peru                        <=50K     35.07
                            >50K      40.00
Philippines                 <=50K     38.07
                            >50K      43.03
Poland                      <=50K     38.17
                            >50K      39.00
Portugal                    <=50K     41.94
                            >50K      41.50
Puerto-Rico                 <=50K     38.47
                            >50K      39.42
Scotland                    <=50K     39.44
                            >50K      46.67
South                       <=50K     40.16
                            >50K      51.44
Taiwan                      <=50K     33.77
                            >50K      46.80
Thailand                    <=50K     42.87
                            >50K      58.33
Trinadad&Tobago             <=50K     37.06
                            >50K      40.00
United-States               <=50K     38.80
                            >50K      45.51
Vietnam                     <=50K     37.19
                            >50K      39.20
Yugoslavia                  <=50K     41.60
                            >50K      49.50
Name: hours-per-week, dtype: float64